
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form" style="text-align: center;">
    <h1>Giỏ Hàng Đang Trống. Ghé Qua Mua Vài Món Nào Bạn Ơi.</h1>
</section>