
@{
    ViewBag.Title = "Xác nhận đơn đặt hàng thành công";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="form">
    <div class="container">
        <h2 class="text-center">Đơn hàng đặt thành công và đã được ghi nhận</h2>
    </div>
</section>
